.container {
    border: 1px solid black;
    margin: 15px;
    width: 70%;
    border-radius: 5px;
    min-width: 300px;
    padding: 15px;
    background-color: rgb(221, 215, 195);
    background-color: rgba(245, 223, 196, 0.451);

}