
  
  input {
    width: 100%;
  }
  
  .pk-button {
    min-width: 80px;
    float: left;
  }
  
  .pk-row {
    margin: 10px 5px;
  }

  .col-6 {
    padding: 3px;
  }

  .col-4 {
    padding: 4px;
  }


  .lol1 {
    padding: 5px;
  }

  .lol2 {
    padding: 5px;
  }